<div class="rating-container">
    <span class="rating-title">تقييم المحتوى</span>
    <div class="stars-container">
        <img src="../assets/icons/star.png" alt="نجمة غير مفعلة" data-rating="1">
        <img src="../assets/icons/star.png" alt="نجمة غير مفعلة" data-rating="2">
        <img src="../assets/icons/star.png" alt="نجمة غير مفعلة" data-rating="3">
        <img src="../assets/icons/star.png" alt="نجمة غير مفعلة" data-rating="4">
        <img src="../assets/icons/star.png" alt="نجمة غير مفعلة" data-rating="5">
    </div>
</div>

<!-- قم بتضمين ملفات JavaScript و CSS -->
<link rel="stylesheet" href="../styles/rating-system.css">
<script src="../scripts/rating-system.js"></script> 